
# The API server URL of your OpenShift cluster
apiserver = ""

# AWS region
aws_region = ""

# Base domain
basedomain = ""

# Cluster Resource Definition Name
cluster_res_def_name = "ref-arch"

# Environment
environment = "development"